<div class="posts" [hidden]="postsListUser">
  <h3>Posts</h3>

  <button mat-raised-button (click)="addPostPage()">Add</button>
  <mat-card class="card" *ngFor="let post of user.Posts">
    <div class="post ">
      Title: {{ post.Title }} <br />
      Body: {{ post.Body }} <br />
    </div>
  </mat-card>
</div>

<div class="frame" [hidden]="addPostUser">
  <mat-card class="card">
    <div class="addPost">
      New Post <br />
      Title:
      <input type="text" #title (keyup)="post.Title = title.value" /> <br />
      Body:
      <input type="text" #title (keyup)="post.Body = title.value" /> <br />
      <button mat-raised-button (click)="addPostToUser()">Add</button>
      <button mat-raised-button (click)="addPostPage()">Cancel</button>
    </div>
  </mat-card>
</div>
