.posts {
  width: 300px;
  border-width: 2;
  border-color: black;
  border-style: solid;
  margin-bottom: 1rem;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.frame {
  border: 2px solid black;
  border-radius: 5px;
  width: 350px;
  margin-bottom: 10px;
  align-items: center;
}

.addPost {
  width: 300px;
  border-width: 2;
  border-color: black;
  border-style: solid;
  margin-bottom: 1rem;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
