/* Split the screen in half */
.split {
  height: auto;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 64px;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 20px;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #fefbe9;
}

.frame {
  border-radius: 5px;
  width: 350px;
  margin-bottom: 10px;

  align-items: center;
}

.addUser {
  width: 300px;
  border-width: 2;
  border-color: black;
  border-style: solid;
  margin-bottom: 1rem;

  padding: 5px;
}

.card {
  margin-bottom: 10px;
  margin-top: 5px;

  width: 55%;
}

.mat-card {
  padding: 10px;
}
