<div class="frame">
  <div class="split right">
    Add New User
    <mat-card class="card">
      <div class="addUser">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            required
            type="text"
            #name
            (keyup)="nameData = name.value"
          />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            [formControl]="emailFormControl"
            placeholder="Ex. pat@example.com"
            #email
            (keyup)="emailData = email.value"
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button (click)="addToUsers()">Add</button>
        <button mat-raised-button (click)="addUserPage()">Cancel</button>
      </div>
    </mat-card>
  </div>
</div>
