.green {
  width: 300px;
  padding: 5px;
  border-width: 2;
  border-color: green;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
}

.red {
  width: 300px;
  padding: 5px;
  border-width: 2;
  border-color: red;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
}

.orange {
  background-color: orange;
}

.btn {
  margin: 5px;
}
