<div class="split left">
  <h3>Users List</h3>

  <!-- search user by name or email -->

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search</mat-label>
    <input
      matInput
      #searchData
      (keyup)="search(searchData.value)"
      maxlength="30"
      placeholder="search by name or email"
    />
    <mat-hint align="start"
      ><strong>Don't disclose personal info</strong>
    </mat-hint>
    <mat-hint align="end">{{ searchData.value.length }} / 30</mat-hint>
  </mat-form-field>

  <!-- filter with pipe angular -->
  <!-- <input type="text" [(ngModel)]="term" name="userfilter" /> -->
  <a
    ><button class="btn" mat-raised-button (click)="addUserPage()">
      Add
    </button></a
  >
  <br />

  <!-- filterUsers initialozed to all user but after seach its change -->
  <app-user
    *ngFor="let user of filterUsers; let i = index"
    [dataFromUsers]="clickeduser"
    [userid]="user._id"
    [dataIndex]="i"
    (wasClick)="recieveDatafromClick($event)"
  >
    <!-- filter with pipe angular -->
    <!-- *ngFor="let user of users | filter: term" -->
  </app-user>
  <app-add-user *ngIf="addUser" (addUser)="recieveData($event)"></app-add-user>
  <br />
</div>

<router-outlet></router-outlet>
