<div class="todos" [hidden]="tasksListUser">
  <h3>Todos</h3>
  <button mat-raised-button (click)="addTaskPage()">Add</button>

  <mat-card class="card">
    <div class="todo" *ngFor="let todo of user.Tasks">
      Title: {{ todo.Title }} <br />
      Completed: {{ todo.Completed }} <br />
      <button
        mat-raised-button
        *ngIf="!todo.Completed"
        (click)="completeTask(todo.ID)"
      >
        Mark Completed
      </button>
    </div>
  </mat-card>
</div>

<div class="frame" [hidden]="addTaskUser">
  <mat-card class="card">
    <div class="addTodo">
      New Todo <br />
      Title: <input type="text" #title (keyup)="titleData = title.value" />
      <button mat-raised-button (click)="addTaskToUser()">Add</button>
      <button mat-raised-button (click)="addTaskPage()">Cancel</button>
    </div>
  </mat-card>
</div>
